* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 9px;
}

.wrapper {
  width: 97%;
  background-color: rgb(74, 172, 172);
  padding: 20px;
  border-radius: 10px;
}

.books {
  box-shadow: 3px 4px 9px;
  border-radius: 6px;
  list-style-type: none;
  padding: 7px;
}

#form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: none;
}

.form-heading {
  margin: 10px;
}

input {
  width: 100%;
  padding: 9px;
  border: none;
  border-radius: 3px;

}

.button-container {
  text-align: end;
}

#addbtn {
  width: 25%;
  padding: 9px;
  box-shadow: 2px 1px 8px #000;
}

#addbtn{
  cursor: pointer;
}

.remove {
  padding: 3px;
  margin: 5px;
  box-shadow: 2px 1px 8px #000;
  border: 2px solid #000;
}

.card {
  background-color: rgba(255, 255, 255, 0.798);
  display: flex;
  padding: 6px;
  border-radius: 4px;
}

.btn {
  flex: 1;
  text-align: end;
}

.content {
  font-family: 'Times New Roman', Times, serif;
}

.p-content {
  font-family: Arial, Helvetica, sans-serif;
}

#message {
  height: 10px;
  display: none;
  color: red;
  font-size: small;
  margin: 10px 0 10px;
}

.container {
  display: block;
}

.contact-info-container {
  display: none;
  background-color: rgba(255, 255, 255, 0.798);
}

.add-book {
  display: none;
}

.p-content{
  font-weight: 800;
  font-variant: small-caps;
}
